<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="modern-normalize.min.css" />
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="Shark.Fido2.Sample.Blazor.styles.css" />
    <link rel="stylesheet" href="lib/notyf/dist/css/notyf.min.css" />
    <link rel="stylesheet" href="lib/font-awesome/dist/css/all.min.css" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="lib/notyf/dist/js/notyf.min.js"></script>
    <script src="js/utilities.js"></script>
    <script src="js/notifications.js"></script>
    <script src="js/attestation.js"></script>
    <script src="js/assertion.js"></script>
</body>

</html>
