@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    <footer class="footer">
        <p>&copy; 2024-2025 Shark WebAuthn .NET library</p>
        <p>FIDO&reg; and FIDO2&reg; are trademarks of FIDO Alliance, Inc.</p>
    </footer>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
