@namespace Shark.Fido2.Sample.Blazor.Client.Components.Shared

<div class="table-row">
    <div class="table-label">@Label</div>
    <div class="table-value">
        @if (!string.IsNullOrEmpty(CssClass))
        {
            <span class="@CssClass">@Value</span>
        }
        else
        {
            @Value
        }
    </div>
</div>

@code {
    [Parameter] public string Label { get; set; } = string.Empty;
    [Parameter] public string Value { get; set; } = string.Empty;
    [Parameter] public string CssClass { get; set; } = string.Empty;
}