:root {
    --color-primary: #6366f1;
    --color-primary-hover: #3367d6;
    --color-light: #fff;
    --color-disclaimer: #6b7280;
    --color-footer-bg: #111827;
    --color-footer-text: #fff;
    --border-radius: 0.375rem;
    --font-size-sm: 1rem;
    --box-shadow-btn-hover: 0 2px 4px rgba(0, 0, 0, 0.2);
}

html {
    position: relative;
    min-height: 100%;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #000 !important;
    transition: background-color 5000s ease-in-out 0s;
}

.navbar {
    background-color: var(--color-background);
}

.navbar-toggler {
    border: none;
    padding: 0 0.75rem 0 0;
    font-size: 1rem;
    outline: none !important;
    box-shadow: none !important;
}

.banner {
    font-weight: 500;
    color: var(--color-link);
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 350px;
    max-width: 1000px;
    margin: 10px auto;
    padding: 0 2rem;
}

    .main h1 {
        font-size: 2.2rem;
    }

.main-controls-container {
    display: flex;
    gap: 40px;
}

.section {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: var(--border-radius) !important;
    margin-bottom: 2rem;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #6366f1;
}

.form-control:disabled, .form-control[readonly] {
    opacity: .45 !important;
}

.form-label {
    font-size: var(--font-size-sm);
}

.form-select {
    width: 99%;
    padding: 12px;
    font-size: var(--font-size-sm);
}

    .form-select:focus {
        outline: none;
        box-shadow: none;
        border-color: #6366f1;
    }

    .form-select:disabled {
        opacity: .45 !important;
        background-color: #fff;
    }

.input-text {
    padding: 12px;
    font-size: var(--font-size-sm);
    background-color: #fff !important;
    background-clip: padding-box;
    transition: all 0.3s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.btn-primary {
    font-weight: 500;
    background-color: var(--color-primary);
    color: var(--color-light);
}

    .btn-primary:hover {
        background-color: var(--color-primary-hover);
        box-shadow: var(--box-shadow-btn-hover);
    }

    .btn-primary:disabled {
        opacity: .45;
    }

.btn-github {
    color: var(--color-link);
    border-radius: var(--border-radius);
    display: inline-flex;
    align-items: center;
    padding: .5rem 0;
}

    /* Remove the browser's default focus outline */
    .btn-github:hover,
    .btn-github:focus,
    .btn-github:active,
    .btn-github:visited {
        outline: none !important;
        box-shadow: none !important;
    }

.button-container {
    display: flex;
    gap: 10px;
}

.button {
    flex-grow: 1;
    padding: 12px 24px;
    font-size: var(--font-size-sm);
}

.notyf {
    word-break: break-word;
}

.notyf__icon {
    color: var(--color-light) !important;
}

.disclaimer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    .disclaimer p {
        margin: 0;
        font-size: var(--font-size-sm);
        color: var(--color-disclaimer);
    }

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-footer-bg);
    padding: 1.5rem 0.5rem;
    margin-top: auto;
}

    .footer p {
        margin: 0;
        font-size: var(--font-size-sm);
        color: var(--color-footer-text);
    }

@media (max-width: 768px) {
    html {
        font-size: var(--font-size-sm);
    }

    .main {
        padding: 0 1rem;
    }

    .main-controls-container {
        flex-direction: column;
        gap: 10px;
    }

    .btn-logout {
        margin-top: 8px !important;
        margin-bottom: 8px !important;
    }
}
