@page "/details"

<PageTitle>Shark WebAuthn library</PageTitle>

<div class="page-container">
    <h1>You are signed in!</h1>

    <div class="content-layout">
        <div class="content-area">
            <p>You have successfully signed in using WebAuthn! Below, you can review the details of the public key credentials used for your authentication. These credentials represent the unique keys stored by your authenticator and used to securely verify your identity.</p>
        </div>

        <div>
            @* Details.... *@
        </div>
    </div>
</div>

@code {
    private void Authenticate()
    {
    }
}
