@page
@model Shark.Fido2.Portal.Pages.AboutModel

<div class="auth-container">
    <div class="auth-section">
        <div class="auth-header">
            <h2>About Shark FIDO2 WebAuthn library</h2>
        </div>
        <div class="form-group">
            <p>This sample server demonstrates the capabilities of Shark FIDO2 WebAuthn library, offering a complete server-side implementation of the FIDO2 protocol. It enables secure, passwordless login and supports multi-factor authentication (MFA) for modern web applications.</p>
            <p>The server handles core FIDO2 flows – such as credential registration and user authentication – ensuring full compliance with current authentication standards. It serves as a practical example of how to integrate robust, standards-based authentication into your own projects.</p>
        </div>
        <div class="form-group">
            <a href="https://github.com/linuxchata/fido2" target="_blank" class="resource-link">View on GitHub</a>
        </div>
    </div>
</div> 