@page
@using Shark.Sample.Fido2.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-5">
    <h1 class="display-4 text-center">Web Authentication</h1>
    <h2 class="fs-5 text-center text-muted">Public Key Credentials</h2>
    <div class="container d-flex justify-content-center mt-5">
        <div class="mb-3 w-30 text-center">
            <input id="username" type="text" class="form-control mx-auto" placeholder="Enter username" required>
            <span id="message" class="d-block mt-2 text-danger"></span>

            <div class="align-items-center mt-3">
                <button id="register" data-action="register" class="btn btn-primary px-4 py-2">
                    Register
                </button>
                <button id="authenticate" data-action="authenticate" class="btn btn-primary px-4 py-2">
                    Authenticate
                </button>
            </div>
        </div>
    </div>
</div>