@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-5">
    <h1 class="display-4 text-center">Web Authentication</h1>
    <h2 class="fs-5 text-center text-muted">Public Key Credentials</h2>
    <div class="text-center mt-4">
        <button id="register" class="btn btn-primary px-4 py-2 me-3" onclick="onRegister()">
            Register
        </button>
        <button id="authenticate" class="btn btn-primary px-4 py-2 me-3" onclick="onAuthenticate()">
            Authenticate
        </button>
    </div>
</div>