name: NuGet

permissions:
  contents: read
  packages: write
  id-token: write # Required for GitHub OIDC Trusted Publishing

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      CI: true # Enable deterministic builds
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      OAUTH_GITHUB_PAT: ${{ secrets.OAUTH_GITHUB_PAT }}
      NUGET_USER: ${{ secrets.NUGET_USER }}

    strategy:
      matrix:
        project:
          - ./src/Shark.Fido2.Core/Shark.Fido2.Core.csproj
          - ./src/Shark.Fido2.DynamoDB/Shark.Fido2.DynamoDB.csproj
          - ./src/Shark.Fido2.InMemory/Shark.Fido2.InMemory.csproj
          - ./src/Shark.Fido2.Models/Shark.Fido2.Models.csproj
          - ./src/Shark.Fido2.PostgreSql/Shark.Fido2.PostgreSql.csproj
          - ./src/Shark.Fido2.SqlServer/Shark.Fido2.SqlServer.csproj

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Required for Source Link to work with full git history

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore ${{ matrix.project }}

    - name: Build
      run: dotnet build ${{ matrix.project }} --configuration Release --no-restore

    - name: Pack
      run: dotnet pack ${{ matrix.project }} --configuration Release --no-restore --output ./nupkg /p:Version=1.2.0.${{ github.run_number }} /p:EmbedUntrackedSources=true /p:IncludeSymbols=true /p:SymbolPackageFormat=snupkg /p:ContinuousIntegrationBuild=true /p:DebugType=portable /p:DebugSymbols=true

    - name: Add nuget source
      run: dotnet nuget add source --username linuxchata --password $GITHUB_TOKEN --store-password-in-clear-text --name github "https://nuget.pkg.github.com/linuxchata/index.json"

    - name: Push packages to github.com
      run: |
        dotnet nuget push "./nupkg/Shark.Fido2.*.*.nupkg" --api-key $OAUTH_GITHUB_PAT --source "github" --skip-duplicate
        dotnet nuget push "./nupkg/Shark.Fido2.*.*.snupkg" --api-key $OAUTH_GITHUB_PAT --source "github" --skip-duplicate

    - name: Login to nuget.org
      uses: NuGet/login@v1
      id: nuget-login
      with:
        user: $NUGET_USER

    - name: Push packages to nuget.org
      run: |
        dotnet nuget push "./nupkg/Shark.Fido2.*.*.nupkg" --api-key ${{ steps.nuget-login.outputs.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
        dotnet nuget push "./nupkg/Shark.Fido2.*.*.snupkg" --api-key ${{ steps.nuget-login.outputs.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
