@page
@using Shark.Fido2.Sample.Pages
@model IndexModel

<div class="main">
    <h1 class="display-4 mb-4 text-center">Non-discoverable Credentials</h1>

    <div class="main-controls-container">
        <div id="registration-container" class="section p-4 border rounded">
            <h3 class="mb-3">Registration</h3>
            <label for="username-registration" class="form-label">Username</label>
            <input id="username-registration" type="text" class="form-control mb-3 input-text" maxlength="64" placeholder="Enter username" />
            <label for="display-name-registration" class="form-label">Display Name</label>
            <input id="display-name-registration" type="text" class="form-control mb-3 input-text" maxlength="64" placeholder="Enter display name" />
            <span id="error-message-registration" class="d-block mt-2 mb-2 text-danger"></span>
            <div class="button-container">
                <button id="registration" data-action="registration" class="button btn btn-primary">
                    <i class="fas fa-user-plus me-2"></i>Register
                </button>
            </div>
        </div>

        <div id="authentication-container" class="section p-4 border rounded">
            <h3 class="mb-3">Authentication</h3>
            <label for="username-authentication" class="form-label">Username</label>
            <input id="username-authentication" type="text" class="form-control mb-3 input-text" maxlength="64" placeholder="Enter username" />
            <span id="error-message-authentication" class="d-block mt-2 mb-2 text-danger"></span>
            <div class="button-container">
                <button id="authentication" data-action="authentication" class="button btn btn-primary">
                    <i class="fas fa-key me-2"></i>Authenticate
                </button>
            </div>
        </div>
    </div>

    <div class="disclaimer">
        <p>Credentials are temporarily stored in memory cache for a maximum of 24 hours.</p>
    </div>
    <div class="disclaimer">
        <p>This application uses optional cookies that are created only after you complete authentication. These cookies are used solely to demonstrate the use of authentication cookies. No tracking, analytics, or advertising cookies are used.</p>
    </div>
</div>
